.header {
    display: flex;
    box-shadow: 0 15px 40px -20px rgba(40, 44, 63, .15);
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    justify-content: space-between;
    align-items: center;
    height: 80px;
    border: none;
    z-index: 1000;
    padding: 0 45px;
    background-color: #ffff;
}

.logo {
    height: 4em;
    width: 6em;
    object-fit: cover;
    cursor: pointer;
}

.logo:hover {
    transform: scale(1.1);
}

.nav-list,
ul {
    display: flex;
    gap: 2em;
    list-style: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: large;
    font-weight: bold;
    cursor: pointer;
}

.nav-list,
ul,li:hover {
    transform: scale(1.1);
}

/* Adding body styles */
.body {
    margin-top: 80px;
    /* This matches the header height */
    padding: 20px;
}

.search {
    padding: 10px;
    margin-bottom: 20px;
}

.res-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
}

.res-card {
    text-align: center;
    width: 280px;
    padding: 5px;
    border: none;
    border-radius: 0.5em;
    transition: transform 0.2s ease-in-out;
    background-color: #f9f9f9;
}

.res-card:hover {
    transform: scale(1.02);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    cursor: pointer;
}

.res-titile {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: x-large;
}